@use '../styles/mixins/mixins' as *;
.select {
  @include flex(center, center, column);
  width: rem(110px);
  &__label {
    color: var(--grey-500);
    font-size: rem(14px);
    font-weight: 300;
  }
  &__select {
    width: 100%;
    border: 0;
    border-radius: rem(10px);
    margin-top: rem(5px);
    padding: rem(5px);
    background-color: #fff;
    box-shadow: var(--box-shadow);
    &:hover {
      cursor: pointer;
    }
  }
}